:root {
  --color-brand:#4D5AE5;
  --color-brand-second:#ffffff;
  --color-background-second:#F4F4FD;
  --color-pressed:#404BBF;  
  --color-title:#2E2F42;
  --color-text:#434455;
  --color-modal:#2E2F42;
  --color-modal-bgc:#FCFCFC;
  
}

 body {
    color:var(--color-title);
    font-family:'Roboto', sans-serif; 
    background-color: var(--color-brand-second);
    font-size: 16px; 
    font-weight: 500;
} 
a {
    text-decoration: none ;
}
ul {
    list-style-type: none;
}

.logo {
    color:var(--color-title);
    font-family: 'Raleway' , sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;  
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-accent{
    color:var(--color-brand);
}

.nav-link{
    color:var(--color-title);
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.nav-link:hover{
    color:var(--color-pressed);
}

.contacts a{
    color: var(--color-text);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.contacts a:hover{
    color: var(--color-pressed);
}


button {
    color:var(--color-brand-second);
    border-width: 1px;
    border-style:solid;
    border-color:currentColor;
    background-color:var(--color-brand);
    cursor: pointer;
    border: none;
    /* border: 1px solid transparent;   TODO need it? */
    padding: 16px 32px;
    border-radius: 4px;
}

button:hover {
    background-color:var(--color-pressed);
}


.current {
    color:var(--color-pressed);
}

.hero-section {
    background-color:var(--color-title);
    /* font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em; */
} 

.hero-title {
    color:var(--color-brand-second);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}