

:root {
  --color-brand:#4D5AE5;
  --color-brand-second:#ffffff;
  --color-background-second:#F4F4FD;
  --color-pressed:#404BBF;  
  --color-title:#2E2F42;
  --color-text:#434455;
  --color-modal:#2E2F42;
  --color-modal-bgc:#FCFCFC;
  
}
/*____________BODY___________________*/
 body {
    color: var(--color-text);
    font-family:'Roboto', sans-serif; 
    background-color: var(--color-brand-second);
    font-size: 16px; 
    font-weight: 500;
    
} 
a {
    text-decoration: none ;
}
ul {
    list-style-type: none;
}
.button{
    font-family: inherit;
    color:var(--color-brand-second);
    background-color:var(--color-brand);
    font-weight: 500;
    line-height: 0.02; 
    letter-spacing: 0.04em;

    cursor: pointer;
 
}

.hero:hover,.hero-button:focus {
    background-color:var(--color-pressed);
}

.current {
    color:var(--color-pressed);
}

.visually-hidden {
   margin: -1px;

  
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}


.logo {
    color:var(--color-brand);
    font-family: 'Raleway' , sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;  
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-accent{
    color:var(--color-title);
}

.nav-link{
    color:var(--color-title);
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.nav-link:hover, .nav-link:focus{
    color:var(--color-pressed);
}

.contacts a{
    color: var(--color-text);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.conacts-link:hover, .conacts-link:focus{
    color:var(--color-pressed);
}

address{font-style: normal;}

/* HERO SECTION START 1*/

.hero-section {
    background-color:var(--color-title);
} 

.hero-title {
    color:var(--color-brand-second);
    font-size: 56px; 
    font-weight: inherit;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    
}
/* HERO SECTION END 1*/
/* BENEFIT SECTION START 2*/

.benefits-subtitle {
    color: var(--color-title);
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}
.benefits-text {
    color: var(--color-text);
    line-height: 1.5;  /*?*/ 
    letter-spacing: 0.02em;
}
/* BENEFIT SECTION END 2*/
/*TEAM SECTION START 3*/
.team-section{
    background-color:var(--color-background-second);
}
.team-title {
    color: var(--color-title);
     text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing:0.02em;
    text-transform:capitalize;
}

.team-link .team-list {
    background-color: var(--color-brand-second);
}
.team-subtitle {
    color: var(--color-title);
    font-weight: inherit;
    
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-text {
    color: var(--color-text);

    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
/*TEAM SECTION 3 END*/
/*PORTFOLIO START 4*/

.portfolio-title {
    color: var(--color-modal);
    text-align: center;
    font-size: 36px;
    font-weight: inherit;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.portfolio-subtitle {
    color: var(--color-modal);
    font-weight: inherit;
    font-size: 20px;
    line-height: 1.2; 
    letter-spacing: 0.02em;
}
.portfolio-text {
    color:var(--color-text);
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
/*FOOTER*/
.footer{
    background-color:var(--color-modal) ;
}
.footer-text{
    color: var(--color-background-second);
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
.logo-accent-footer {
    color:var(--color-background-second);
}